{% extends "base.html" %}

{% block header %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header id="blog-header" class="has-cover">
      <div class="inner">
        <nav id="navigation">
          {% if SITE_LOGO %}
          <span class="blog-logo">
            <a href="{{ SITEURL }}"><img src="{{SITE_LOGO}}" alt="Blog Logo" /></a>
          </span>
          {% endif %}
          <span id="menu-button" class="nav-button">
            <a class="menu-button"><i class="ic ic-menu"></i> Menu</a>
          </span>
        </nav>
        <h1 class="blog-name"><a href="{{ SITEURL }}">{{ SITENAME }}</a></h1>
        {% if SITESUBTITLE %}
        <span class="blog-description">{{ SITESUBTITLE }}</span>
        {% endif %}
        {% if HEADER_COVER %}
            <div class="blog-cover cover" style="background-image: url('{{ HEADER_COVER }}')">
        {% elif HEADER_COLOR %}
            <div class="blog-cover cover" style="background-color: {{ HEADER_COLOR }}">
        {% else %}
            <div class="blog-cover cover" style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/home-bg.jpg')">
        {% endif %}        
      </div>
      <div class="floating_button" style="background:#96034c; border-radius:5px 5px 0px 0px; font-weight:bold; font-family:Helvetica; bottom:-2px; right: 100px; padding:4px 7px 4px 7px; font-size:14px; color:#fff;text-align:center; cursor:pointer;border:2px solid #000000;text-decoration: none;box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); z-index:999999" onclick="open_window('MTc0NDY0','www.flipcause.com')">Support The Living Room</div>
    </header>

{% endblock header %}

{% block content %}

<div id="index" class="container">
  <main class="content" role="main">
    {% include "partials/loop.html" %}
  </main>
</div>
{% endblock content %}   
 
