{% extends "index.html" %}

{% block title %}{{ page.title }}{% endblock title %}

{% block header %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header id="post-header" class="has-cover">
      <div class="inner">
        <nav id="navigation">
          {% if SITE_LOGO %}
            <span class="blog-logo">
                <a href="{{ SITEURL }}"><img src="{{SITE_LOGO}}" alt="Blog Logo" /></a>
            </span>
          {% else %}
            <span id="home-button" class="nav-button">
                <a class="home-button" href="{{ SITEURL }}" title="Home"><i class="ic ic-arrow-left"></i> Home</a>
            </span>
          {% endif %}
          <span id="menu-button" class="nav-button">
            <a class="menu-button"><i class="ic ic-menu"></i> Menu</a>
          </span>
        </nav>
        <h1 class="post-title">{{ page.title }}</h1>      
        {% if page.header_video %}
        	<iframe 
  				class="bg-video"
  				src="https://www.youtube.com/embed/JHDesB_WkUw?controls=0&autoplay=1&mute=1&modestbranding=1&showinfo=0&playsinline=1&fs=1&loop=1&playlist=JHDesB_WkUw"
  				frameBorder="0"
  				allow="autoplay"
  				style="position: absolute; left: 0; top: 0; background-size: cover; background: no-repeat center; margin-left: -150px; user-select: none; pointer-events: none; filter: grayscale(0.05); min-width: 120%; min-height: 100%;"
  				allowfullscreen>
				</iframe>
        {% elif page.header_cover %}
            <div class="post-cover cover" style="background-image: url('{{ page.header_cover }}')">
        {% elif HEADER_COVER %}
            <div class="post-cover cover" style="background-image: url('{{ HEADER_COVER }}')">            
        {% elif HEADER_COLOR %}
            <div class="post-cover cover" style="background-color: {{ HEADER_COLOR }}">
        {% else %}
            <div class="post-cover cover" style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/post-bg.jpg')">
        {% endif %}        
      </div>
    </header>    
{% endblock header %}

{% block content %}
  <!-- Post content -->
  <main class="content" role="main">
      <article class="post">
      <div class="inner">
          <section class="post-content">
              {{page.content}}
              <div class="floating_button" style="background:#96034c; border-radius:5px 5px 0px 0px; font-weight:bold; font-family:Helvetica; bottom:-2px; right: 150px; padding:4px 10px 4px 10px; font-size:18px; color:#fff;text-align:center; cursor:pointer;border:2px solid #000000;text-decoration: none;box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); z-index:999999" onclick="open_window('MTc0NDY0','www.flipcause.com')">Support The Living Room</div>
          </section>
      </div>
      </article>
  </main>
{% endblock content %}
