<nav id="menu">
  <a class="close-button">Close</a>
  <div class="nav-wrapper">
    <p class="nav-label">Menu</p>
    <ul>
       <ul>
                    {% if DISPLAY_PAGES_ON_MENU %}
                      {% for p in pages %}
                        <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}" class="navbar-item">{{ p.slug | replace('-', ' ')}}</a></li>
                      {% endfor %}
                    {% endif %}
                    {% for title, link in MENUITEMS %}
                        <li><a class="navbar-item" href="{{ link }}">{{ title }}</a></li>
                    {% endfor %}
                    {% if DISPLAY_CATEGORIES_ON_MENU %}
                        {% for cat, null in categories %}
                            {% if cat != "misc" %}
                            <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </ul>
    </ul>
  </div>
</nav>
